.header {
  background-color: var(--slack-main-color);
  color: var(--slack-white);
  display: flex;
  justify-content: space-around;
  padding: var(--desktop-padding);
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
}

.header__left {
  display: flex;
  flex: 0.3;
  justify-content: flex-end;
  margin-right: 1rem;
}

.header__left > .MuiSvgIcon-root {
  cursor: pointer;
}

.header__search {
  display: flex;
  flex: 0.3;
  align-items: left;
  justify-content: center;
  background-color: var(--slack-color-search);
  padding: 0 10rem;
  color: var(--slack-white);
  width: 25vh;
  border-radius: 10px;
}

.header__search > input {
  display: flex;
  background-color: transparent;
  border: none;
  justify-content: center;
  min-width: 10rem;
  margin-left: 1rem;
  color: var(--slack-white);
}

.header__search > input::placeholder {
  color: var(--slack-white);
  text-align: center;
}

.header__search > input::placeholder:focus-visible {
  color: var(--slack-main-color);
  border: none;
}

.header__search > input:focus-visible {
  border-color: var(--slack-color-search);
}

.header__search > .MuiSvgIcon-root {
  padding: 2px 0;
  cursor: pointer;
}

.header__right {
  display: flex;
  flex: 0.3;
  padding-left: 0.5rem;
  justify-content: right;
  align-items: center;
}

.header__right > .MuiSvgIcon-root {
  margin: 0 0.5rem;
  cursor: pointer;
}

@media screen and (max-width: 890px) {
  .header__search {
    flex: 0.1;
  }

  .header__right {
    flex: 0.5;
  }

  .header {
    padding: var(--mobile-padding);
  }
}

@media screen and (max-width: 690px) {
  .header {
    justify-content: space-between;
  }

  .header__left {
    flex: 0.5;
    justify-content: flex-start;
  }

  .header__search {
    display: none;
  }
}
