.home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 15%;
  top: 15rem;
}

.home h1 {
  position: relative;
  color: var(--slack-main-color);
  padding: 5rem;
  border: 1px solid var(--slack-main-color);
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .home {
    width: 60%;
    right: 10%;
  }
}

@media screen and (max-width: 865px) {
  .home {
    left: 0;
    margin: 0 auto;
  }

  .home h1 {
    padding: 3rem;
  }
}
